**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/test.idx
**/target
**/build
**/Debug
**/obj
**/.vs
**/index_data
**/__pycache__
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
*.log
*.DB
temp/
target/
build/
data/
output/
dist/
dependency/
faiss/